@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-hidden::-webkit-scrollbar {
    display: none;
}

@layer components {
    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-track {
        background: #d1ffee;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #00ffa2;
        border-radius: 50px;
    }
}

.book-background {
    background-color: var(--bg-color-mobile);
}

@media (min-width: 1024px) {
	.book-background {
		background-color: var(--bg-color-default);
	}
}