@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-hidden::-webkit-scrollbar {
    display: none;
}

@layer components {
    ::-webkit-scrollbar {
        width: 5px;
    }

    ::-webkit-scrollbar-track {
        background: #d1ffee;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #93ffd7;
        border-radius: 50px;
    }
}