@tailwind base;
@tailwind components;
@tailwind utilities;

/* HIDE THE SCROLLBAR */
.scroll-hidden::-webkit-scrollbar {
    display: none;
}

/* CUSTOMIZE SCROLLBAR */
@layer components {
    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-track {
        background: #d1ffee;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #00ffa2;
        border-radius: 50px;
    }
}

/* BOOK BACKGROUND IN POPUP PHONE SIZE */
.book-background {
    background-color: var(--bg-color-mobile);
}

/* BOOK BACKGROUND IN POPUP LAPTOP SIZE */
@media (min-width: 1024px) {
	.book-background {
		background-color: var(--bg-color-default);
	}
}